layout {

    focus-ring {
        active-color   "#e282ed"
        inactive-color "#0f0f12"
        urgent-color   "#ff6b6b"
    }

    border {
        active-color   "#e282ed"
        inactive-color "#0f0f12"
        urgent-color   "#ff6b6b"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e282ed"
        inactive-color "#a20ab3"
        urgent-color   "#ff6b6b"
    }

    insert-hint {
        color "#e282ed80"
    }
}

recent-windows {
    highlight {
        active-color "#e282ed"
        urgent-color "#ff6b6b"
    }
}
